.container {
	width: 710px;
}
body {
	background-image: url('/images/fall.png');
}

header {
	margin-top: 30px;
	width: 270px;
	padding-top: 10px;
	background: #7E904A;
}

header h1 {
	color: #683E3E;
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size: 5em;
}

section {
	font-size: 120%;
	padding: 20px;
	background: #CED579;
}

h3 {
	color: #683E3E;
	font-family: 'Fugaz One', cursive;
}

/* Links */
a {
	color: #09c;
	text-decoration: none;
}

a hover {
	color: #069;
	text-decoration: none;
}

a visited {
	color: #069;
	text-decoration: none;
}

/* Navigation */
nav {
	float: right;
	background: #fff;
	padding: 0 0.7em;
	white-space: nowrap;	
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09f;
}

/* Signup Button */
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 120%;
	font-weight: bold;
	padding: 20px;
	
}

/* Footer */
footer {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 710px;
}

footer nav {
	background: #7E904A;
	float: none;
}

footer nav a {
	color: #683E3E;
}

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border radius: 10px;
}
