<footer>
  <nav class="round">
    <%= link_to "Code", "#" %>
    <%= link_to "Twitter", "https://twitter.com/#!/eliseworthy" %>
    <%= link_to "Github", "https://github.com/eliseworthy" %>
  </nav>
</footer>